*{
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h2 {
  color: aliceblue;
  margin: 16px;
}
.dragon {
  display: flex;
  flex-direction: column;
  align-items: center;  
  max-width: 250px;
}
.dragon-details-property-name{
  color:aquamarine;
}

.dragon-img {
  display: flex;
  margin-bottom: 12px;
}

.dragon-property {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  margin-bottom: 12px;
  color: aliceblue;
}

.dragon-property-name {
  font-weight: 700;
  color:aquamarine;
}

.dragon-see-more {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.dragon-see-more__button {
  cursor: pointer;
  height: 32px;
  min-width: 120px;
  font-size: 14px;
  background-color: lightcoral;
  color: white;
  border-radius: 4px;
  border: none;
}

.dragon-property-value {
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  color: aliceblue;
}
.dragon-details-property-value{
  color: aliceblue;
}
.dragon-property-value._one-line {
  -webkit-line-clamp: 1;
}
